body {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}

#quoteContainer {
  background-color: #eee;
  max-height: 600px;
  max-width: 600px;
  margin-top: 200px;
  border-radius: 3px;
}

#newQuote p {
  text-align: center;
  margin: 40px;
}

#buttonContainer {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.btn {
  border: none;
}

.btn:focus,.btn:active {
   outline: none !important;
}

.info {
  text-align: center;
  margin-top: 20px;
}

.info a {
  text-decoration: none !important;
  color: #333;
  font-size: 20px;
}